<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Select Role || FarmSarthi</title>
  <link rel="icon" type="image/png" href="/https://res.cloudinary.com/dgyixpzvl/image/upload/v1752250625/FarmSarthi_Short_Logo_vslfiy.png"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Figtree">
  <link rel="stylesheet" href="/css/selectRole.css">

</head>
<body>

  <%- include('component/navbar.ejs') %>

  <main class="login-main">
    <div class="login-container">
      <h2>Select Your Role</h2>
      <form method="POST" action="/login/select-role">
        <div class="user-type-toggle">
          <input type="radio" id="buyer" name="role" value="buyer" required>
          <label for="buyer">Buyer</label>
          <input type="radio" id="seller" name="role" value="seller" required>
          <label for="seller">Seller</label>
        </div>
        <div class="user-type-toggle">
          <input type="text" placeholder="Name" name="name" required>
        </div>
        <textarea class="address" name="address" placeholder="Address"></textarea>
        <button type="submit" class="btn-login">Continue</button>
      </form>
      <p class="login-footer-text">Trial Accounts: <strong>+919119761165, +919999988888</strong> with OTP: <strong>985312</strong></p>
    </div>
  </main>

  <%- include('component/footer.ejs') %>

</body>
</html>