  <div class="footer">
    <div class="container-3">
      <div class="content-8">
        <div class="logo" style="background-color: rgb(230, 235, 229); border-radius: 1rem; padding: 0.5rem 0.5rem;">
          <img class="company-logo" src="https://res.cloudinary.com/dgyixpzvl/image/upload/v1752250647/Logo_udp2ux.png" />
        </div>
        <div class="links">
          <div class="text-wrapper-6">About Us</div>
          <div class="text-wrapper-6">Contact Us</div>
          <div class="text-wrapper-6">Help Center</div>
          <div class="text-wrapper-6">Blog Posts</div>
          <div class="text-wrapper-6">User Guide</div>
        </div>
      </div>
      <div class="credits">
        <img class="divider-2" src="/img/Divider 2.png" />
        <div class="row-3">
          <p class="text-wrapper-8">© 2025 FarmSarthi. All rights reserved.</p>
          <div class="footer-links">
            <div class="text-wrapper-9">Privacy Policy</div>
            <div class="text-wrapper-9">Terms of Service</div>
            <div class="text-wrapper-9">Cookies Settings</div>
          </div>
        </div>
      </div>
    </div>
  </div>