<div class="home-desktop">
  <div class="navbar">
    <header class="header">
      <div class="container">
        <div class="div" style="margin: 0px 0px">
          <a href="/">
            <div>
              <img
                class="company-logo"
                src="https://res.cloudinary.com/dgyixpzvl/image/upload/v1752250647/Logo_udp2ux.png"
              />
            </div>
          </a>
          <div class="searchbar">
            <img
              class="search_icon"
              src="https://res.cloudinary.com/dgyixpzvl/image/upload/v1752250708/Search_a3l7vm.png"
            />
            <input type="text" placeholder="Search your Crop/Seed......" />
          </div>
          <div class="column">
            <a href="/market-prices"><div class="link-text">Market Prices</div></a>
            <a href="/aboutus"> <div class="link-text">About Us</div></a>
            <div class="nav-link-dropdown">
              <div class="link-text">More Features</div>
              <img
                class="img"
                src="https://res.cloudinary.com/dgyixpzvl/image/upload/v1752250608/Drop_Down_vzoes3.png"
              />
            </div>
          </div>
        </div>
        
        <% if(!isUserLoggedIn){ %>
        <div class="actions">
          <a href="/login"><button class="button-2">Login</button></a>
        </div>
        <% }else{ %>
          <div class="profile-container">
          <div class="profile-image" id="profileToggle">
            <img
              class="profile-photo"
              src="https://res.cloudinary.com/dgyixpzvl/image/upload/v1752250636/HP_cgmxow.jpg"
            />
          </div>
          <div class="profile-dropdown" id="profileDropdown">
            <a href="/dashboard" class="dropdown-item">My Profile</a>
            <form action="/logout" method="POST">
              <button type="submit" class="dropdown-item logout-btn">
                Logout
              </button>
            </form>
          </div>
        </div>
          <% } %>
      </div>
    </header>
    <div class="mega-menu">
      <div class="menu">
        <div class="menu-list">
          <div class="text-wrapper-2">Latest Articles</div>
          <div class="list">
            <div class="menu-item">
              <img
                class="img"
                src="https://res.cloudinary.com/dgyixpzvl/image/upload/v1752250384/Articles_rirrm9.png"
              />
              <a href="/tips">
              <div class="content-2">
                <div class="text-wrapper-3">Farming Tips</div>
                <p class="sub-content">
                  Learn best practices for successful farming.
                </p>
              </div>
              </a>
            </div>
            <div class="menu-item">
              <img
                class="img"
                src="https://res.cloudinary.com/dgyixpzvl/image/upload/v1752250384/Articles_rirrm9.png"
              />
              <a href="/marketInsights">
              <div class="content-2">
                <div class="text-wrapper-3">Market Insights</div>
                <p class="sub-content">
                  Understand market trends to maximize profits.
                </p>
              </div>
              </a>
            </div>
            <div class="menu-item">
              <img
                class="img"
                src="https://res.cloudinary.com/dgyixpzvl/image/upload/v1752250384/Articles_rirrm9.png"
              />
              <a href="/weather">
              <div class="content-2">
                <div class="text-wrapper-3">Weather Updates</div>
                <p class="sub-content">
                  Get real-time weather forecasts for your area.
                </p>
              </div>
              </a>
            </div>
            <div class="menu-item">
              <img
                class="img"
                src="https://res.cloudinary.com/dgyixpzvl/image/upload/v1752250384/Articles_rirrm9.png"
              />
              <a href="/successStories">
              <div class="content-2">
                <div class="text-wrapper-3">Success Stories</div>
                <p class="sub-content">
                  Read about farmers who succeeded with us.
                </p>
              </div>
              </a>
            </div>
          </div>
        </div>
        <div class="blog">
          <div class="text-wrapper-2">From Our Blog</div>
          <div class="blog-list">
            <a href="/harvest">
            <div class="blog-item">
              <img class="placeholder-image" src="img/harvest.png" />
              <div class="content-3">
                <div class="content-4">
                  <div class="text-wrapper-3">Harvest Techniques</div>
                  <p class="sub-content">
                    Explore innovative methods for better yields.
                  </p>
                </div>
                <div class="text-wrapper-4">Read more</div>
              </div>
            </div>
            </a>
            <a href="/trends">
            <div class="blog-item">
              <img class="placeholder-image" src="img/trend.png" />
              <div class="content-3">
                <div class="content-4">
                  <div class="text-wrapper-3">Market Trends</div>
                  <p class="sub-content">
                    Stay ahead with the latest market analysis.
                  </p>
                </div>
                <div class="text-wrapper-4">Read more</div>
              </div>
            </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
