<div class="home-desktop">
  <div class="navbar">
    <header class="header">
      <div class="container">
        <div class="div" style="margin: 0px 0px">
          <a href="Homepage.html">
            <div><img class="company-logo" src="img/Logo.png" /></div>
          </a>
          <div class="searchbar">
            <img class="search_icon" src="img/Search.png" />
            <input type="text" placeholder="Search your Crop/Seed......" />
          </div>
          <div class="column">
            <div class="link-text">Market Prices</div>
            <a href="/aboutUs"> <div class="link-text">About Us</div></a>
            <div class="nav-link-dropdown">
              <div class="link-text">More Features</div>
              <img class="img" src="img/Drop Down.png" />
            </div>
          </div>
        </div>
        <div class="actions">
          <button class="button">Join</button>
          <a class="button-2" href="/login">Login</a>
        </div>
      </div>
    </header>
    <div class="mega-menu">
      <div class="menu">
        <div class="menu-list">
          <div class="text-wrapper-2">Explore Our Services</div>
          <div class="list">
            <div class="menu-item">
              <img class="img" src="img/Buy Crops.png" />
              <a href="buyCrop.html">
                <div class="content">
                  <div class="text-wrapper-3">Buy Crops</div>
                  <p class="sub-content">
                    Discover the best crop prices today!
                  </p>
                </div>
              </a>
            </div>
            <div class="menu-item">
              <img class="img" src="img/Sell Crops.png" />
              <a href="sellCrop.html">
                <div class="content">
                  <div class="text-wrapper-3">Sell Crops</div>
                  <p class="sub-content">
                    List your crops for potential buyers.
                  </p>
                </div>
              </a>
            </div>
            <div class="menu-item">
              <img class="img" src="img/Crop Calendar.png" />
              <a href="cropCalender.html">
                <div class="content">
                  <div class="text-wrapper-3">Crop Calendar</div>
                  <p class="sub-content">
                    Stay updated on planting and harvesting times.
                  </p>
                </div>
              </a>
            </div>
            <div class="menu-item">
              <img class="img" src="img/User Login.png" />
              <a href="loginPage.html">
                <div class="content">
                  <div class="text-wrapper-3">User Login</div>
                  <p class="sub-content">
                    Access your account to manage listings.
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="menu-list">
          <div class="text-wrapper-2">Latest Articles</div>
          <div class="list">
            <div class="menu-item">
              <img class="img" src="img/Articles.png" />
              <div class="content-2">
                <div class="text-wrapper-3">Farming Tips</div>
                <p class="sub-content">
                  Learn best practices for successful farming.
                </p>
              </div>
            </div>
            <div class="menu-item">
              <img class="img" src="img/Articles.png" />
              <div class="content-2">
                <div class="text-wrapper-3">Market Insights</div>
                <p class="sub-content">
                  Understand market trends to maximize profits.
                </p>
              </div>
            </div>
            <div class="menu-item">
              <img class="img" src="img/Articles.png" />
              <div class="content-2">
                <div class="text-wrapper-3">Weather Updates</div>
                <p class="sub-content">
                  Get real-time weather forecasts for your area.
                </p>
              </div>
            </div>
            <div class="menu-item">
              <img class="img" src="img/Articles.png" />
              <div class="content-2">
                <div class="text-wrapper-3">Success Stories</div>
                <p class="sub-content">
                  Read about farmers who succeeded with us.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="blog">
          <div class="text-wrapper-2">From Our Blog</div>
          <div class="blog-list">
            <div class="blog-item">
              <img class="placeholder-image" src="img/Placeholder Image.png" />
              <div class="content-3">
                <div class="content-4">
                  <div class="text-wrapper-3">Harvest Techniques</div>
                  <p class="sub-content">
                    Explore innovative methods for better yields.
                  </p>
                </div>
                <div class="text-wrapper-4">Read more</div>
              </div>
            </div>
            <div class="blog-item">
              <img class="placeholder-image" src="img/Placeholder Image.png" />
              <div class="content-3">
                <div class="content-4">
                  <div class="text-wrapper-3">Market Trends</div>
                  <p class="sub-content">
                    Stay ahead with the latest market analysis.
                  </p>
                </div>
                <div class="text-wrapper-4">Read more</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
